*{
margin:0;
padding: 0;

}

body{
    background-image: url("https://i.ibb.co/Stk7VtL/imag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
background-attachment: fixed;
    
}

#title{
    
    text-align:center;
    margin: 40px 0;
}
p{
    text-align: center;
}

.section_botones{

    text-align: center;
}
.btn_number{
    text-align: center;
  margin-left:10px;
  margin-top: 20px;
  
}
    
.btn_code{
    display: flex;
    justify-content: center;
margin-top: 30px;
padding: 10px;
  margin: 10px;
}
 #btncode{
   width: 150px;
   display: block;
   background: linear-gradient(50deg,#4a7ff7,#f52fcf);
   padding: 10px 20px;
   text-align: center;
   margin-top: 15px;
   color: white;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 5px;
   transition: all 100ms;
 }
 #btncode:hover{
     transform: translate(10px);
     box-shadow: 0px 30px 5px rgba(0,0,0,0.3)
 }
 #btndecode{
    width: 150px;
    display: block;
    background: linear-gradient(50deg,#4a7ff7,#f52fcf);
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 100ms;
 }
 #btndecode:hover{
    transform: translate(10px);
    box-shadow: 0px 30px 5px rgba(0,0,0,0.3)
 }

.message{
    margin-top: 30px; 

}



@media  (max-width: 560px) {

    .btn_code {
        width: auto;
        padding: 12px 15px;

    }
    
#title{
    
    text-align:center;
    margin: 40px 0;
}
    
}