*{
margin:0;
padding: 0;

}

body{
    background-image: url("https://i.ibb.co/Stk7VtL/imag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
background-attachment: fixed;
    
}

#title{
    
    text-align:center;
    margin: 40px 0;
}
p{
    text-align: center;
}

.section_botones{

    text-align: center;
}
.btn_number{
    text-align: center;
  margin-left:10px;
  margin-top: 20px;
  
}
    
.btn_code{
text-align: center;
margin-top: 20px;

}
 #btncode{
   background-color: aqua;
 }

.message{
    margin-top: 30px; 

}



@media  (max-width: 560px) {

    .btn_code {
        width: auto;
        padding: 12px 15px;

    }
    
#title{
    
    text-align:center;
    margin: 40px 0;
}
    
}